@import '~node_modules/modern-normalize/modern-normalize.css';

.container {
    margin: 0 auto 0;
    width: calc(100vw - 32px);

    @include tablet {
        width: calc(100vw - 64px)
    }

    @include desktop {
        width: calc(1400px)
    }
}

button {
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

a {
    cursor: pointer;
}

body {
    background-color: var(--color-body-white);
}