//COLORS
:root {
    //CONSTAN
    
    //LIGHT
    --color-header-bg: #EE1515;
    --color-header-second:#222224;
    --color-body-white: #FFF;
    //--color-pokeball-black: #222224;
}

.darkmode {
    //DARK
    --color-header-bg: #3b82c4;
    --color-header-second: #e8b923;
    --color-body-white: #222224;
    //--color-pokeball-black: #FFF;
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1440px) {
        @content;
    }
}
