<div class="header container">
    <div class="header__left">
        <a src="../index.html">
            <img height="50px" src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg" alt="pokemon-logo"></img>
        </a>
        <a src="../index.html">Home</a>
        <a>About</a>
    </div>
    <div class="header__right">
        <input id="darkmode" type="checkbox">
        <label class="header__mode" for="darkmode"><div></div></label>
        <button class="header__menu">
            <svg width="40px" height="50px">
                <use href="./images/icons.svg#icon-menu"></use>
            </svg>
        </button>
    </div>
</div>

<div class="ball"></div>